#hobbies {
  display: flex;
  gap: 2em;
  margin-bottom: 5em;
}

.first-part {
  flex: 2;
}

.first-part p {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.3em;
  color: rgb(102, 102, 102);
  font-size: 18px;
}

#hobbies button {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin-top: 10px;
  font-family: TS-Reg, sans-serif;
  transition: 0.5s ease-in-out;
}

#hobbies button:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #ff5e5d;
  transition: 0.5s ease-in-out;
}
/* CARD -------------------- */
/* CARD -------------------- */
/* CARD -------------------- */
.carrousel {
  display: flex;
  gap: 1em;
  flex: 7;
  overflow: scroll hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.card {
  width: 250px;
  flex-shrink: 0;
  margin-bottom: 15px;
}

.place-part-picture {
  position: relative;
}

.place-part-picture img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 180px;
  transition: 0.5s ease-in-out;
}

.place-part-picture img:hover {
  opacity: 0.7;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 4px black;
}

.like {
  padding: 0.6em;
  font-size: 1em;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.like:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  transition: 0.5s ease-in-out;
  color: #fff;
}

/* COMMENTS */
.comments {
  font-size: 1em;
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.ratings {
  margin: 0 1px;
  font-size: 0.8em;
  color: #00aa73;
}

.carrousel .comments p:last-child {
  font-size: 0.8em;
  margin-left: 9px;
  color: rgb(161, 161, 161);
  font-family: Arial, Helvetica, sans-serif;
}

.info-city {
  font-size: 0.8em;
  color: rgb(103, 103, 103);
}
