@import url("./general.css");
@import url("./forms.css");
@import url("./discovery.css");

/* ---------------- GLOBAL --------- */

#information p {
  animation: 20s linear 4s infinite slidein;
}

#information {
  background-color: #5c48d3;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.8rem 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  white-space: nowrap;
}

#information a {
  color: #fff;
  text-decoration: underline;
  font-weight: 500;
}

h1 span {
  color: var(--primary-color);
}

/* POUR MASQUER LA SCROLLBAR */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#logo {
  width: 200px;
}

.revenus {
  font-size: 0.9rem;
  color: rgb(127, 127, 127);
  margin-bottom: 30px;
}

.revenus a {
  color: rgb(127, 127, 127);
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

.menu-smartphone {
  display: none;
}
/* HEADER------------------ */
/* HEADER------------------ */
/* HEADER------------------ */

header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  z-index: 10;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 10px 0;
}

#header > a:first-child {
  display: none;
}

#header > a:last-child {
  display: none;
}

#header nav ul {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.1rem;
}

.element-display {
  margin-left: 10px;
}

#header nav li a,
#header nav li:last-child {
  padding: 0.7rem 1rem;
  border-radius: 20px;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--animation-transition);
}

#header nav li:last-child {
  background-color: rgb(0, 0, 0);
  color: #fff;
  transition: var(--animation-transition);
}

#header nav li:last-child:hover {
  background-color: rgb(95, 95, 95);
  transition: var(--animation-transition);
}

#header nav li a:hover {
  background-color: rgb(223, 223, 223);
  color: #000000;
  transition: var(--animation-transition);
}

/* --------------- PART BLOC -------------------- */
/* --------------- PART BLOC -------------------- */
/* --------------- PART BLOC -------------------- */

#part {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 12px;
}

.bloc-part {
  display: flex;
  min-width: 170px;
  min-height: 70px;
  gap: 12px;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  border-radius: var(--border-rounded);
  transition: var(--animation-transition);
}

#part > a:nth-child(6),
#part > a:nth-child(7) {
  display: none;
}

/* ------------------- PICTURES ------------------- */
/* ------------------- PICTURES ------------------- */
/* ------------------- PICTURES ------------------- */

#section-diapo {
  margin: 30px 0;
}

#pictures {
  height: 430px;
  display: flex;
  position: relative;
  gap: 2px;
  margin-bottom: 10px;
}

#pictures img {
  transition: var(--animation-transition);
}

#pictures > img {
  height: 100%;
  width: 60%;
  object-fit: cover;
  object-position: bottom;
  border-radius: var(--border-rounded) 0 0 var(--border-rounded);
}

#pictures > div img {
  object-fit: cover;
  width: 100%;
  height: 213px;
}

#pictures p {
  position: absolute;
  background-color: black;
  color: #fff;
  left: 10px;
  bottom: 10px;
  padding: 0.6rem;
  border-radius: var(--border-rounded);
  font-size: 0.6rem;
}

#pictures > div img:first-child {
  border-radius: 0 var(--border-rounded) 0 0;
}

#pictures > div img:last-child {
  border-radius: 0 0 var(--border-rounded) 0;
}

#breadcrumb-site {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

#breadcrumb-site ul {
  display: flex;
  gap: 6px;
}

/* ---------------- DESCRIPTION ------------ */
/* ---------------- DESCRIPTION ------------ */
/* ---------------- DESCRIPTION ------------ */
#description {
  margin: 50px 0;
  line-height: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  gap: 40px;
}

article {
  flex: 8;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

article p {
  color: #4c4c4c;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 4;
  background-color: var(--primary-color);
  border-radius: var(--border-rounded) var(--border-rounded) 0 0;
  height: 100%;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

#infos-map {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#infos-map a {
  background-color: rgb(0, 0, 0);
  border-radius: var(--border-rounded);
  color: #fff;
  max-width: 138px;
  font-size: 1rem;
  white-space: nowrap;
  padding: 7px;
  font-family: TS-Med, sans-serif;
}

#infos-map p:first-child {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: TS-Med, sans-serif;
}

/* ------------- SECTION HOBBIES ---------------- */
/* ------------- SECTION HOBBIES ---------------- */
/* ------------- SECTION HOBBIES ---------------- */
#section-hobbies {
  margin: 40px 0;
}

#hobbies {
  display: flex;
  gap: 30px;
}

.first-part {
  flex: 4;
}

.first-part p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 15px;
  color: rgb(83, 83, 83);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.first-part a {
  text-decoration: underline;
}

.carrousel {
  flex: 8;
  display: flex;
  flex-wrap: nowrap;
  width: 40%;
  gap: 20px;
  overflow: hidden;
  overflow-x: scroll;
}

.card {
  width: 250px;
  position: relative;
  flex-shrink: 0;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 160px;
  border-radius: var(--border-rounded);
  transition: 0.5s ease-in-out;
}

.like {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 8;
  transition: var(--animation-transition);
}

.infos-card {
  width: 100%;
  padding: 10px 0;
}

.infos-city,
.comments {
  margin-bottom: 10px;
}

.comments {
  display: flex;
  align-items: flex-end;
  font-size: 0.9rem;
  gap: 14px;
}

.ratings {
  display: flex;
  gap: 0.1rem;
  color: #01aa6c;
}
.comments > p {
  color: #9f9f9f;
  font-size: 0.8rem;
}

.info-city {
  font-size: 0.9rem;
  color: #9f9f9f;
}

/* ------------ FOOTER ----------- */
/* ------------ FOOTER ----------- */
/* ------------ FOOTER ----------- */

footer {
  background-color: #faf1ed;
  padding: 25px 0;
  margin-top: 80px;
}

#copyright {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
}

#copyright img {
  width: 3rem;
}

#copyright a {
  transition: var(--animation-transition);
}

/* -----------HOVER--------- */

.bloc-part:hover {
  background-color: black;
  color: #fff;
  transition: var(--animation-transition);
}
#pictures img:hover {
  opacity: 0.8;
  transition: var(--animation-transition);
}

.card:hover img {
  opacity: 0.8;
  transition: var(--animation-transition);
}

.like:hover {
  background-color: black;
  color: #fff;
  transition: var(--animation-transition);
}

#copyright a:hover {
  color: var(--primary-color);
  transition: var(--animation-transition);
}

/* ---------------- /GLOBAL --------- */

/* ------- Style under 1184px ----- */
/* ------- Style under 1184px ----- */
/* ------- Style under 1184px ----- */
@media (max-width: 1184px) {
  /* BLOC PART------------------ */
  /* BLOC PART------------------ */
  /* BLOC PART------------------ */

  #part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  .bloc-part {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    padding: 10px;
    min-height: 70px;
    border-radius: var(--border-rounded);
    transition: var(--animation-transition);
  }

  #part > a:nth-child(7),
  #part > a:nth-child(6) {
    display: contents;
  }
}

/* ------- Style under 1024px ----- */
@media (max-width: 1024px) {
  section {
    max-width: 1024px;
  }

  .element-display {
    display: none;
  }
  /* ---------------- DESCRIPTION ------------ */
  /* ---------------- DESCRIPTION ------------ */
  /* ---------------- DESCRIPTION ------------ */
  aside {
    display: none;
  }
}

/*----------STYLE UNDER 769px------------*/
@media (max-width: 768px) {
  /* DISCOVERY SECTION */
  .container {
    background-position: right;
  }
  .container span {
    font-size: 2rem;
  }

  .container button {
    padding: 4% 7%;
    margin-bottom: 3%;
  }
  /* ---------MENU SMARTPHONE----------- */

  .menu-smartphone {
    display: none;
    background-color: rgba(51, 51, 51, 0.7);
    backdrop-filter: blur(0.2rem);
    height: 100vh;
    width: 100%;
    z-index: 20;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: 0.5s ease-in-out;
  }

  menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 20px;
    height: 100%;
    gap: 20px;
    font-size: 1rem;
  }

  menu hr {
    border: #e8e8e8 0.1rem solid;
    width: 100%;
  }
  menu li:nth-child(1) {
    text-align: end;
    font-size: 0.9rem;
  }

  .to-connect {
    display: flex;
    justify-content: center;
  }

  .to-connect a {
    background-color: #000000;
    white-space: nowrap;
    border-radius: 40px;
    margin-bottom: 15px;
    padding: 10px 33%;
    color: #fff;
    font-size: 1rem;
  }

  menu li {
    list-style: none;
    font-size: 1.2rem;
  }

  /* ---------/MENU SMARTPHONE----------- */
  section {
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    padding-top: 50px;
  }

  #header > a:first-child {
    display: contents;
  }

  #header > a:last-child {
    display: contents;
  }

  #header nav li {
    display: none;
  }

  #header i {
    padding: 1rem;
  }

  #logo {
    width: 9rem;
    object-fit: cover;
  }

  /* --------------- PART BLOC -------------------- */
  /* --------------- PART BLOC -------------------- */
  /* --------------- PART BLOC -------------------- */

  #part {
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
  }

  .bloc-part {
    display: flex;
    min-height: auto;
    min-width: 150px;
    white-space: nowrap;
    gap: 12px;
  }

  /* ------------------- PICTURES ------------------- */
  /* ------------------- PICTURES ------------------- */
  /* ------------------- PICTURES ------------------- */

  #section-diapo {
    margin: 0;
  }

  #pictures {
    height: 300px;
  }

  #pictures > img {
    width: 100%;
    border-radius: var(--border-rounded);
  }

  #pictures > :last-child {
    display: none;
  }

  #breadcrumb-site {
    display: none;
  }

  /* ------------- SECTION HOBBIES ---------------- */
  /* ------------- SECTION HOBBIES ---------------- */
  /* ------------- SECTION HOBBIES ---------------- */
  #hobbies {
    flex-direction: column;
  }

  .carrousel {
    width: 100%;
    gap: 10px;
  }

  .card {
    width: 240px;
  }

  .card img {
    height: 180px;
  }
}
