body {
  background-color: aqua;
}

.container {
  display: flex;
  width: 400px;
  border: 2px solid black;
  overflow: scroll;
}

.container div {
  width: 100px;
  height: 100px;
  background-color: brown;
  border: 1px solid white;
  flex-shrink: 0;
}
