/* -------------------FOOTER---------------------- */
/* -------------------FOOTER---------------------- */
/* -------------------FOOTER---------------------- */

#copyright {
  display: flex;
  font-size: 0.7em;
  align-items: center;
  padding: 20px 0;
  color: #5d5d5d;
}

#copyright img {
  width: 5%;
}

#copyright a {
  text-decoration: none;
  color: #000000;
  transition: 0.5s ease-in-out;
}

#copyright a:hover {
  color: #ff5e5d;
  transition: 0.5s ease-in-out;
}
