@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,500;1,800&display=swap");
@import "hobbies-part.css";
@import "footer.css";

/* ------------- GENERAL ------------- */

body {
  font-family: TS-Reg, sans-serif;
}

section {
  width: 70%;
  margin: 0 auto;
}

header {
  background-color: rgb(255, 255, 255);
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  z-index: 20;
}

h1,
h2,
h3,
h4 {
  font-family: TS-Med, sans-serif;
}

h1 {
  font-size: 54px;
  margin-top: 14%;
  margin-bottom: 1%;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 26px;
}

h4 {
  font-size: 1.2em;
  margin-top: 0.6em;
}

::selection {
  background-color: #ff5e5d;
  color: #fff;
}

mark {
  background-color: #ff5e5d;
  color: #fff;
  padding: 2px;
}

footer {
  background-color: #faf1ed;
}

/* ---------------KEYFRAME----------------- */
/* Part information animation */
@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-80%);
  }
}
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

/* -------------------INFORMATION--------------------------- */
#information {
  background-color: #ff5e5d;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-size: 1em;
  font-weight: 100;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

#information p {
  animation: 30s linear 1s infinite slidein;
}

#information p::selection {
  background-color: #fff;
  color: #ff5e5d;
}

#information a {
  color: #fff;
}

#information b {
  font-weight: 500;
}

/* -------------------HEADER--------------------------- */
/* -------------------HEADER--------------------------- */
/* -------------------HEADER--------------------------- */

#header {
  padding: 6% 0 10px 0;
}

#header > div:first-child {
  width: 55%;
}

#header div:last-child {
  border: 1px solid rgba(104, 104, 104, 0.525);
  border-radius: 30px;
  padding: 5px 15px;
  width: 100%;
  column-gap: 12px;
}

#header input {
  padding: 8px;
  width: 80%;
}

#logo {
  width: 26%;
  transition: 0.8s ease-in-out;
}

#logo:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.8s ease-in-out;
}

#header input {
  border: none;
}

.display-flex-row {
  display: flex;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-column-gap {
  column-gap: 10px;
}

/* --------NAVBAR---------- */
/* --------NAVBAR---------- */
/* --------NAVBAR---------- */
header nav li {
  padding: 12px 8px;
  border-radius: 20px;
  font-size: 1em;
  column-gap: 5px;
  transition: 0.5s ease-in-out;
}

header nav li:hover {
  cursor: pointer;
  background-color: rgb(227, 227, 227);
  transition: 0.5s ease-in-out;
}

header nav li:last-child {
  background-color: black;
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
}
header nav li:last-child:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.785);
}

/* ---------------MAIN---------------- */
/* ---------------MAIN---------------- */
/* ---------------MAIN---------------- */

h1 span {
  color: #ff5e5d;
}

.revenus {
  color: #565656;
  margin-bottom: 3%;
  font-size: 0.9em;
}
.revenus a {
  color: #565656;
}

#part {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.bloc-part {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  width: 20%;
  justify-content: space-between;
  transition: 0.5s ease-in-out;
}

.bloc-part:hover {
  cursor: pointer;
  background-color: black;
  color: #fff;
  transition: 0.5s ease-in-out;
}

/* ------------------PICTURES-------------------- */
/* ------------------PICTURES-------------------- */
/* ------------------PICTURES-------------------- */

#pictures {
  display: flex;
  gap: 3px;
  margin: 30px 0 15px 0;
}

#picture-principal {
  width: 60%;
  height: 360px;
  background-image: url("../img/island.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 10px 0 0 10px;
  transition: 0.6s ease-in-out;
}

#picture-principal:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.6s ease-in-out;
  scale: 1.01;
}

#picture-second {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 40%;
  height: 360px;
}

#picture-second div:first-child {
  height: calc(360px / 2);
  background-image: url("../img/marais-kaw.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 10px 0 0;
  transition: 0.6s ease-in-out;
}

#picture-second div:first-child:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.6s ease-in-out;
  scale: 1.01;
}

#picture-second div:last-child {
  height: calc(360px / 2);
  background-image: url("../img/house.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 0 0 10px 0;
  transition: 0.6s ease-in-out;
}

#picture-second div:last-child:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.6s ease-in-out;
  scale: 1.01;
}

#breadcrumb-site {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: rgb(158, 158, 158);
}

#breadcrumb-site ul {
  display: flex;
  gap: 4px;
}

#breadcrumb-site a {
  text-decoration: none;
  color: rgb(158, 158, 158);
  transition: 0.5s ease-in-out;
}

#breadcrumb-site a:hover {
  text-decoration: underline;
  transition: 0.5s ease-in-out;
}

/* ------------DESCRIPTION-------------- */
/* ------------DESCRIPTION-------------- */
/* ------------DESCRIPTION-------------- */
#description {
  margin: 40px 0 80px 0;
  display: flex;
  gap: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#description article {
  flex: 4;
}

#description article p {
  font-size: 1.2em;
  line-height: 1.3em;
  color: #000000a0;
  margin-bottom: 0.7em;
}
/* --------------------ASIDE--------------------- */
/* --------------------ASIDE--------------------- */
/* --------------------ASIDE--------------------- */

#description aside {
  flex: 2;
  box-sizing: border-box;
  height: max-content;
  margin-left: 5%;
}

#description aside p:first-child {
  font-family: TS-Med, sans-serif;
  font-size: 1.5em;
  margin-bottom: 15px;
}

#description aside p:nth-child(2) {
  font-size: 1em;
  line-height: 1.2em;
}

#infos-map {
  padding: 20px;
  background-color: #ff5e5d;
  border-radius: 15px 15px 0 0;
}

#description button {
  color: #fff;
  font-size: 0.7em;
  margin-top: 15px;
  padding: 15px 15px;
  border: none;
  border-radius: 15px;
  background-color: #000000;
}

#description button:hover {
  background-color: rgba(43, 43, 43);
  cursor: pointer;
}

#description img {
  width: 100%;
  margin-top: 30px;
}
